# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*
openapi.json
# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo
*.d.ts.map
test/
# Build directories
dist/
build/
out/
migration/
database.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.alapa

# IDEs and editors
.vscode/
.idea/
*.swp

# MacOS
.DS_Store

# Linux
*~

# npm
package-lock.json
yarn.lock

# Coverage reports
coverage/
*.lcov

# Miscellaneous
tmp/
temp/
