{% import '/components/layout';
import '/components/button.html' %}

<X:Layout title="Alapa" required checked>
    <div style="background-image: url('background-image-url.jpg'); background-size: cover; color: white; text-align: center; padding: 100px 20px; font-family: 'Arial', sans-serif;">
        <h1 style="font-size: 3em; margin-bottom: 20px;">Welcome to Alapa!</h1>
        <p style="font-size: 1.5em; margin-bottom: 20px;">You're just a step away from transforming your ideas into powerful applications.</p>
        <p class="powerful" style="font-size: 1.8em; color: #FFD700; margin-bottom: 30px;">Unleash Your Creativity with Alapa!</p>
        <a target="doc" href="https://github.com/alapajs/alapa#readme">
            <X:Button>Documentation</X:Button>
        </a>
    </div>
</X:Layout>